@model List<TheBookCave.Models.ViewModels.UserListViewModel> 

@{
    Layout = "_AdminLayout";
}

<h2> User List </h2>

<form class="pull-left" class="col-sm-6" asp-controller="adminUser" asp-action="index">
    <p>
        <input type="text" name="SearchString" placeholder="Search for email..">
        <input type="submit" value="Submit" />
    </p>
</form>

<p class="pull-right" ><a id="addbuttons" class="btn btn-default btn-sm" asp-controller="adminUser" asp-action="AddUser" >
    <span class="glyphicon glyphicon-plus"></span> Add User</a>
</p>

 <table class="table table-striped table-responsive-md btn-table ">
    <thead>
      <tr>
            <th>Username</th>
            <th>Edit</th>
            <th>Email</th>
            <th>PhoneNumber</th>
        </tr>
    </thead>
    @foreach(var user in @Model)
    {
    <tbody>
        <tr>
            <td><a class="btn btn-primary btn-rounded btn-sm my-0" asp-controller="AdminUser" asp-action="userDetails" asp-route-id="@user.Id">@user.UserName</a></td>
            <td><a id="editbuttons" class="btn btn-default btn-sm" asp-controller="AdminUser" asp-action="EditUser" class="btn btn-default" asp-route-id="@user.Id">
            <span class="glyphicon glyphicon-edit"></span> Edit</a></td>
            <td><a id="removebuttons" class="btn btn-default btn-sm" asp-controller="AdminUser" asp-action="RemoveUser" class="btn btn-default" asp-route-id="@user.Id">
            <span class="glyphicon glyphicon-remove"></span> Remove</a></td>
            <td>@user.Email</td>
            <td>@user.PhoneNumber</td>        
        </tr>
    </tbody>
    }
              
    </table>