@model List<TheBookCave.Models.ViewModels.UserListViewModel> 

@{
    Layout = "_AdminLayout";
}

<h2> User List </h2>

<form asp-controller="adminUser" asp-action="index">
    <p>
        <input type="text" name="SearchString" placeholder="Search for email..">
        <input type="submit" value="Submit" />
    </p>
</form>

<p><a asp-controller="adminUser" asp-action="AddUser" class="btn btn-default">Add User</a></p>

 <table align="center">
    <thead>
      <tr>
            <th>User Id</th>
            <th>Edit user</th>
            <th>Email</th>
            <th>PhoneNumber</th>
            <th>UserName</th>
        </tr>
    </thead>
    @foreach(var user in @Model)
    {
    <tbody>
        <tr>
            <td><a asp-controller="AdminUser" asp-action="userDetails" asp-route-id="@user.Id">@user.Id</a></td>
            <td><a asp-controller="AdminUser" asp-action="EditUser" class="btn btn-default" asp-route-id="@user.Id">Edit user</a></td>
            <td>@user.Email</td>
            <td>@user.PhoneNumber</td>
            <td>@user.UserName</td>
        </tr>
    </tbody>
    }
              
    </table>