@model List<TheBookCave.Models.ViewModels.UserListViewModel> 

@{
    Layout = "_AdminLayout";
}

<h2> Choosen User by Admin </h2>

<div>
    @foreach(var user in @Model)
    {
        <ul>
        <li>User Id: @user.Id</li>
        <li>AccessFailedCount: @user.AccessFailedCount</li>
        <li>ConcurrencyStamp: @user.ConcurrencyStamp</li>
        <li>Email: @user.Email</li>
        <li>EmailConfirmed: @user.EmailConfirmed</li>
        <li>LockoutEnd: @user.LockoutEnd</li>
        <li>LockoutEnabled: @user.LockoutEnabled</li>
        <li>NormalizedEmail: @user.NormalizedEmail</li>
        <li>NormalizedUserName: @user.NormalizedUserName</li>
        <li>PasswordHash: @user.PasswordHash</li>
        <li>PhoneNumber: @user.PhoneNumber</li>
        <li>PhoneNumberConfirmed: @user.PhoneNumberConfirmed</li>
        <li>SecurityStamp: @user.SecurityStamp</li>
        <li>UserName: @user.UserName</li>
        </ul>
    }
</div>
