@model List<TheBookCave.Models.ViewModels.UserListViewModel> 


<h2> Choosen User by Admin </h2>

<div>
    @foreach(var user in @Model)
    {  
        <ul>
        <li>User Id: @user.Id</li>
        <li>Name: @user.Name</li>
        <li>Picture: @user.Picture</li>
        <li>Password: @user.Password</li>
        <li>FavoriteBookId: @user.FavoriteBookId</li>
        <li>SubscriptionId: @user.SubscriptionId</li>
        <li>OrderId: @user.OrderId</li>
        </ul>
    }
</div>