@model List<TheBookCave.Models.ViewModels.PromoCodeListViewModel> 

@{
    Layout = "_AdminLayout";
}

<h2> PromoCodeList </h2>

<form asp-controller="adminPromoCode" asp-action="index">
    <p>
        <input type="text" name="SearchString" placeholder="Search">
        <input type="submit" value="Submit" />
    </p>
</form>

<p><a asp-controller="adminPromoCode" asp-action="AddPromoCode" class="btn btn-default">Add PromoCode</a></p>

<table align="center">
    <thead>
      <tr>
            <th>#</th>
            <th>Edit Promocode</th>
            <th>Code </th>
            <th>Discount</th>
            <th>Description</th>
            <th>Published</th>
        </tr>
    </thead>
    @foreach(var promoCode in @Model)
        {
        <tbody>
            <tr>
                <td><a class="btn btn-primary btn-rounded btn-sm my-0" asp-controller="AdminPromoCode" asp-action="promoCodeDetails" asp-route-id="@promoCode.Id">@promoCode.Id</a></td>
                <td><a asp-controller="adminPromoCode" asp-action="EditPromoCode" class="btn btn-default" asp-route-id="@promoCode.Id">Edit promoCode</a></td>
                <td>@promoCode.Code</td>
                <td>@promoCode.Discount</td>
                <td>@promoCode.Description</td>
                <td>@promoCode.Published</td>
            </tr>
        </tbody>
        }      
    </table>