@model List<TheBookCave.Models.ViewModels.BookListViewModel> 

<h1>BookList</h1>

<div>
    @foreach(var book in @Model)
{
    <ul>
    <li>BookName:<a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id">@book.Name</a></li>
    <li>Picture: @book.Picture</li>
    <li>DetailsIS: @book.DetailsIS</li>
    <li>DetailsEN: @book.DetailsEN</li>
    <li>Price: @book.Price</li>
    <li>Discount: @book.Discount</li>
    <li>Pages: @book.Pages</li>
    <li>Quantiy: @book.Quantity</li>
    <li>Grade: @book.Grade</li>
    </ul>
}
</div>


