@model TheBookCave.Models.ViewModels.CheckoutOverviewViewModel;

<div class="container">
    <h2>Your order overview:</h2>
    <div class="panel panel-default">
        <div class="panel-heading">Shipping Address:</div>
        <ul class="list-group">
            <li class="list-group-item">Name: @Model.Firstname</li>
            <li class="list-group-item">Email: @Model.Email</li>
            <li class="list-group-item">Phone Number: @Model.Phone</li>
            <li class="list-group-item">Main Address: @Model.Address1</li>
            <li class="list-group-item">Secondary Address: @Model.Address2</li>
            <li class="list-group-item">Country: @Model.CountryCode</li>
            <li class="list-group-item">City: @Model.Region</li>
            <li class="list-group-item">Zip: @Model.Zip</li>
        </ul>
        <div class="panel-heading">Payment Details:</div>
        <ul class="list-group">
            <li class="list-group-item">Name: @Model.NameOnCard</li>
            <li class="list-group-item">Card Number: @Model.CardNumber</li>
            <li class="list-group-item">Expiry Date: @Model.ExpiryDate</li>
            <li class="list-group-item">CVC: @Model.CVC</li>
        </ul>
        <div class="panel-heading">Books:</div>
        @foreach (var orderItem in @Model.OrderItems) {
            <ul class="list-group">
                <li class="list-group-item">Name: @orderItem.Book.Name</li>
                <li class="list-group-item">Price: @orderItem.Book.Price</li>
                <li class="list-group-item">Discount: @orderItem.Discount %</li>
                <li class="list-group-item">Quantity: @orderItem.Quantity</li>
            </ul>
        }
        <div class="panel-footer">Sum: @Model.Sum</div>
    </div>
    <p><a class="btn btn-default btn-sm" asp-controller="checkout" asp-action="checkout" class="btn btn-default">
    <span class="glyphicon glyphicon-check"></span> Confirm</a></p>
</div>
