@model List<TheBookCave.Models.ViewModels.SubscriptionListViewModel> 

@{
    Layout = "_AdminLayout";
}

<h1>All subscription </h1>


<h2> SubscriptionList </h2>

<table align="center">
    <thead>
      <tr>
            <th>subscriptionId</th>
            <th>DescriptionEn</th>
            <th>DescriptionIn</th>
            <th>TypeEn</th>
            <th>TypeIn</th>
        </tr>
    </thead>
    @foreach(var subscription in @Model)
    {
    <tbody>
        <tr>
            <td><a asp-controller="AdminSubscription" asp-action="subscriptionDetails" asp-route-id="@subscription.Id">@subscription.Id</a></td>
            <td>@subscription.DescriptionEn</td>
            <td>@subscription.DescriptionIn</td>
            <td>@subscription.TypeEn</td>
            <td>@subscription.TypeIn</td>
        </tr>
    </tbody>
    }
              
    </table>